/* SCSS RGB */

$pale-azure: rgba(151, 223, 252, 1);
$tropical-indigo: rgba(133, 138, 227, 1);
$iris: rgba(97, 61, 193, 1);
$indigo: rgba(78, 20, 140, 1);
$russian-violet: rgba(44, 7, 53, 1);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;
